@import "tailwindcss";

@theme{
  --color-verde-claro: #A1B58D;
  --color-verde-oscuro: #355228;
  --color-verde-muy-oscuro: #2E4623;
  --color-morado-claro: #C0ACC7;
  --color-gris-oscuro: #595959;
  --color-gris-claro: #ECECEC;
  --color-amarillo: #FFC14F;

  --font-fredoka: 'Fredoka', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@layer utilities{
  .main-font{
    font-family: var(--font-fredoka);
    font-weight: 600;
  }
}